In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

from sklearn.linear_model import LogisticRegression

In [2]:
data=pd.read_csv('titanic_processed.csv')
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,29.00,0,0,7.7750,0,0,1
1,0,3,1,45.50,0,0,7.2250,1,0,0
2,1,1,0,24.00,0,0,69.3000,1,0,0
3,1,1,1,0.92,1,2,151.5500,0,0,1
4,1,1,1,36.00,0,0,26.2875,0,0,1

In [3]:
features=list(data.columns[1:]) # this will shown columns form 1 to the end, excluding column number 0
features

['Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Embarked_C',
 'Embarked_Q',
 'Embarked_S']

In [ ]:
result_dict={}

In [ ]:
def