In [6]:
# You may need to run follwing command on the command line (if you run here will give you an error)
# pip install pyodbc

In [7]:
# Run this command below and get the ODBC version and put it on your connection string 
pyodbc.drivers()

NameError: name 'pyodbc' is not defined

In [ ]:
import pandas as pd
import pyodbc
import time
start_time = time.time()

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=MUHAMMEDPC;"
                      "Database=ExcelBI;"
                      "Trusted_Connection=yes;")


# cursor = cnxn.cursor()
# cursor.execute('SELECT Top(10) * FROM Sales')

# for row in cursor:
#     print('row = %r' % (row,))
    
df = pd.read_sql_query('SELECT Top(10) * FROM SalesCSV3', cnxn)

print("--- %s seconds ---" % (time.time() - start_time))
df