In [16]:
import sqlalchemy, pyodbc, os
import pandas as pd

In [17]:
os.chdir(r"C:\Users\AcerTech\Desktop\ETL projects\csv files") #This folder contains two csv files
os.getcwd()

'C:\\Users\\AcerTech\\Desktop\\ETL projects\\csv files'

In [18]:
print(os.listdir())

['sales_data1.csv', 'sales_data2.csv']

In [19]:
import platform
print(platform.node())
import socket
socket.gethostname()

MuhammedPc

'MuhammedPc'

In [20]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'Amazon Redshift (x64)',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [21]:
#creating the connection to sql server db
# conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
#                       "Server=MUHAMMEDPC;"
#                       "Database=ExcelBI;"
#                       "Trusted_Connection=yes;")

In [22]:
conn=sqlalchemy.create_engine(f'mssql+pyodbc://{socket.gethostname()}/ExcelBI?trusted_connection=yes&driver=ODBC Driver 17 for SQL Server')

In [23]:
for f in os.listdir():
    df=pd.read_csv(f)
    df.to_sql("SalesCSV3",con=conn,if_exists="append",index=False)

In [24]:
pd.read_sql("select * from SalesCSV3",con=conn)

   ProductID        Date   Zip  Units   Revenue Country
0        690  2008-01-16  1001      1  375.1125     USA
1       1085  2008-03-14  1001      1   91.8225     USA
2        763  2008-03-14  1001      1  333.3225     USA
3       2331  2008-04-14  1001      1  614.1975     USA
4       1000  2008-05-16  1001      1   99.6975     USA
5       2391  2008-07-15  1001      1  750.6975     USA
6        967  2008-07-16  1001      1  724.4475     USA
7       1182  2008-06-30  1001      1  181.0725     USA
8        438  2008-11-10  1001      1  997.4475     USA
9       2369  2009-02-17  1001      1  424.7250     USA

In [25]:
 from sqlalchemy.sql import text
#run a query
conn.execute(text("select * from salescsv3")).fetchall()

[(690, datetime.date(2008, 1, 16), '1001', 1, Decimal('375.112500'), 'USA'),
 (1085, datetime.date(2008, 3, 14), '1001', 1, Decimal('91.822500'), 'USA'),
 (763, datetime.date(2008, 3, 14), '1001', 1, Decimal('333.322500'), 'USA'),
 (2331, datetime.date(2008, 4, 14), '1001', 1, Decimal('614.197500'), 'USA'),
 (1000, datetime.date(2008, 5, 16), '1001', 1, Decimal('99.697500'), 'USA'),
 (2391, datetime.date(2008, 7, 15), '1001', 1, Decimal('750.697500'), 'USA'),
 (967, datetime.date(2008, 7, 16), '1001', 1, Decimal('724.447500'), 'USA'),
 (1182, datetime.date(2008, 6, 30), '1001', 1, Decimal('181.072500'), 'USA'),
 (438, datetime.date(2008, 11, 10), '1001', 1, Decimal('997.447500'), 'USA'),
 (2369, datetime.date(2009, 2, 17), '1001', 1, Decimal('424.725000'), 'USA')]

In [26]:
#delte alll rows
# conn.execute(text("Truncate Table SalesCSV3").execution_options(autocommit=True))