In [1]:
import pandas as pd
pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']})

    id color
0  100   red
1  101  blue
2  102   red

In [10]:
df=pd.DataFrame(
                {
                'id':[100,101,102],
                'color':['red','blue','red']
                },
    
                columns=['id','color'],
                index=['a','b','c']
             )

    id color
a  100   red
b  101  blue
c  102   red

In [11]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [12]:
# Example :How to create dataframe from an array
import numpy as np
arr=np.random.rand(4,2)
arr

array([[0.39562604, 0.50147329],
       [0.91032671, 0.56662353],
       [0.71911443, 0.1492111 ],
       [0.45594221, 0.96545413]])

In [15]:
pd.DataFrame(arr,columns=['one','two'])

        one       two
0  0.395626  0.501473
1  0.910327  0.566624
2  0.719114  0.149211
3  0.455942  0.965454

In [17]:
#arange([start,] stop[, step,], dtype=None, *, like=None)
#randint(low, high=None, size=None, dtype=int)
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        88
101        70
102        82
103        85
104        60
105       100
106        97
107        99
108        91
109        95

In [18]:
# How to crate a series and attach it to dataframe
#1st: crate a series
#pd.Series(
#     data=None,
#     index=None,
#     dtype=None,
#     name=None,
#     copy=False,
#     fastpath=False,
# )
s=pd.Series(['round','square'],index=['c','b'],name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [19]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [20]:
pd.concat([df,s],axis=1)
#notice the name of the series it become the name of the column

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round