In [1]:
import pandas as pd
import numpy as np
arr=np.random.rand(4,2)
arr

array([[0.88024778, 0.0515436 ],
       [0.52948489, 0.93186235],
       [0.47741764, 0.05115074],
       [0.80566143, 0.68053449]])

In [2]:
pd.DataFrame(arr,columns=['one','two'])

        one       two
0  0.880248  0.051544
1  0.529485  0.931862
2  0.477418  0.051151
3  0.805661  0.680534

In [4]:
#arange([start,] stop[, step,], dtype=None, *, like=None)
#randint(low, high=None, size=None, dtype=int)
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        66
101        69
102        67
103        93
104        83
105        79
106        86
107        92
108        94
109        91