In [7]:
# https://youtu.be/2AFGPdNn4FM
import pandas as pd 
df=pd.read_csv('http://bit.ly/imdbratings')
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [8]:
df.shape

(979, 6)

In [9]:
df[(df.duration>=200) & (df.genre=='Crime')]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."

In [10]:
# shown selected columns
df[(df.duration>=200) & (df.genre=='Crime')][['title','star_rating']]

                          title  star_rating
2        The Godfather: Part II          9.1
78  Once Upon a Time in America          8.4

In [11]:
# Using loc to filter data
df.loc[(df.duration>=200) & (df.genre=='Crime')]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."

In [12]:
# shown selected columns
df.loc[ (df.duration>=200) & (df.genre=='Crime'),['title','star_rating']]

                          title  star_rating
2        The Godfather: Part II          9.1
78  Once Upon a Time in America          8.4

In [13]:
df.loc[(df.duration>=200) & (df.genre.isin(['Crime','Drama'])),['title','star_rating']]

                           title  star_rating
2         The Godfather: Part II          9.1
17                 Seven Samurai          8.7
78   Once Upon a Time in America          8.4
157           Gone with the Wind          8.2
476                       Hamlet          7.8