In [17]:
import os

In [18]:
os.getcwd() # get the current dirctory

'C:\\Users\\AcerTech\\Documents\\MyDataScience1'

In [19]:
# list all files in a dirctory using os
DIR=os.getcwd()
filenames=os.listdir(DIR)
for filename in filenames:
    if filename.endswith(".csv"): # to list csv files only.
        file_path=os.path.join(DIR, filename)
        print("File:",file_path)

File: C:\Users\AcerTech\Documents\MyDataScience1\housing.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\mobile_data_cleaned.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\mobile_train.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\music.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\titanic_processed.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\titanic_test.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\titanic_train.csv

In [37]:
# list all files in a dirctory using glob
import glob
# All files ending with .txt
filenames=glob.glob(DIR+"\*.csv")
for filename in filenames:
#     if filename.endswith(".csv"): # to list csv files only.
        file_path=os.path.join(DIR, filename)
        print("File:",file_path)
# All files ending with .txt with depth of 2 folder
# print(glob.glob("/home/adam/*/*.txt"))

File: C:\Users\AcerTech\Documents\MyDataScience1\housing.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\mobile_data_cleaned.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\mobile_train.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\music.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\titanic_processed.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\titanic_test.csv
File: C:\Users\AcerTech\Documents\MyDataScience1\titanic_train.csv

In [20]:
file=open("music.csv") #after you open the file you need to close it or it may get currabted.
file

In [21]:
file.read()

'age,gender,genre\n20,1,HipHop-m\n23,1,HipHop-m\n25,1,HipHop-m\n26,1,Jazz-m\n29,1,Jazz-m\n30,1,Jazz-m\n31,1,Classical-m\n33,1,Classical-m\n37,1,Classical-m\n20,0,Dance-m\n21,0,Dance-m\n25,0,Dance-m\n26,0,Acoustic-m\n27,0,Acoustic-m\n30,0,Acoustic-m\n31,0,Classical-m\n34,0,Classical-m\n35,0,Classical-m\n'

In [22]:
file.read() #the pointer reach the end in the first read, so you need to use seek(0) first and then you can use read

''

In [23]:
file.seek(0)

0

In [24]:
file.read()

'age,gender,genre\n20,1,HipHop-m\n23,1,HipHop-m\n25,1,HipHop-m\n26,1,Jazz-m\n29,1,Jazz-m\n30,1,Jazz-m\n31,1,Classical-m\n33,1,Classical-m\n37,1,Classical-m\n20,0,Dance-m\n21,0,Dance-m\n25,0,Dance-m\n26,0,Acoustic-m\n27,0,Acoustic-m\n30,0,Acoustic-m\n31,0,Classical-m\n34,0,Classical-m\n35,0,Classical-m\n'

In [25]:
file.close()

In [26]:
music_array=[]

with open("music.csv",'r') as file_again: # using with here will close the file automaticlly. r=read only, a=append mode, w=write mode
    for m in file_again:
        music_array.append(m.rstrip("\n"))

print(music_array)

['age,gender,genre', '20,1,HipHop-m', '23,1,HipHop-m', '25,1,HipHop-m', '26,1,Jazz-m', '29,1,Jazz-m', '30,1,Jazz-m', '31,1,Classical-m', '33,1,Classical-m', '37,1,Classical-m', '20,0,Dance-m', '21,0,Dance-m', '25,0,Dance-m', '26,0,Acoustic-m', '27,0,Acoustic-m', '30,0,Acoustic-m', '31,0,Classical-m', '34,0,Classical-m', '35,0,Classical-m']

In [27]:
import csv
with open("music.csv",'r') as f:
    csv_reader=csv.reader(f)
    
    for m in csv_reader:
        print(m)

['age', 'gender', 'genre']
['20', '1', 'HipHop-m']
['23', '1', 'HipHop-m']
['25', '1', 'HipHop-m']
['26', '1', 'Jazz-m']
['29', '1', 'Jazz-m']
['30', '1', 'Jazz-m']
['31', '1', 'Classical-m']
['33', '1', 'Classical-m']
['37', '1', 'Classical-m']
['20', '0', 'Dance-m']
['21', '0', 'Dance-m']
['25', '0', 'Dance-m']
['26', '0', 'Acoustic-m']
['27', '0', 'Acoustic-m']
['30', '0', 'Acoustic-m']
['31', '0', 'Classical-m']
['34', '0', 'Classical-m']
['35', '0', 'Classical-m']

In [28]:
import pandas as pd # this is the best way to work with csv files

In [29]:
df=pd.read_csv("music.csv")# df=data frame
df

    age  gender        genre
0    20       1     HipHop-m
1    23       1     HipHop-m
2    25       1     HipHop-m
3    26       1       Jazz-m
4    29       1       Jazz-m
5    30       1       Jazz-m
6    31       1  Classical-m
7    33       1  Classical-m
8    37       1  Classical-m
9    20       0      Dance-m
10   21       0      Dance-m
11   25       0      Dance-m
12   26       0   Acoustic-m
13   27       0   Acoustic-m
14   30       0   Acoustic-m
15   31       0  Classical-m
16   34       0  Classical-m
17   35       0  Classical-m

In [30]:
df.shape

(18, 3)

In [31]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [32]:
df.values

array([[20, 1, 'HipHop-m'],
       [23, 1, 'HipHop-m'],
       [25, 1, 'HipHop-m'],
       [26, 1, 'Jazz-m'],
       [29, 1, 'Jazz-m'],
       [30, 1, 'Jazz-m'],
       [31, 1, 'Classical-m'],
       [33, 1, 'Classical-m'],
       [37, 1, 'Classical-m'],
       [20, 0, 'Dance-m'],
       [21, 0, 'Dance-m'],
       [25, 0, 'Dance-m'],
       [26, 0, 'Acoustic-m'],
       [27, 0, 'Acoustic-m'],
       [30, 0, 'Acoustic-m'],
       [31, 0, 'Classical-m'],
       [34, 0, 'Classical-m'],
       [35, 0, 'Classical-m']], dtype=object)