In [91]:
#List
sports_cars=["Agera","Regera","Chiron","Veyron"]

In [92]:
for car in sports_cars:
    print(car)

Agera
Regera
Chiron
Veyron

In [93]:
for char in "Muhammed":
    print(char)

M
u
h
a
m
m
e
d

In [94]:
#Tuble
cams=("Canon EOS 500D",
       "Nikon D90",
       "Canon EOS 450D")

In [95]:
for camera in cams:
    print(camera)

Canon EOS 500D
Nikon D90
Canon EOS 450D

In [96]:
num_list=[100,800,330,220,900,110]

In [97]:
for num in num_list:
    if num<500:
        print("<500:",num)
    else:
        print(">500",num)

<500: 100
>500 800
<500: 330
<500: 220
>500 900
<500: 110

In [98]:
r = range(10)
r

range(0, 10)

In [99]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [100]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
list(range(-4,10))

[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [104]:
for i in range(2,5):
    print(i)

2
3
4

In [105]:
for i in range(2,11,3):
    print(i)

2
5
8

In [106]:
for _ in range(7):
    print("Hello!!!")

Hello!!!
Hello!!!
Hello!!!
Hello!!!
Hello!!!
Hello!!!
Hello!!!

In [107]:
names_and_ages={"John":53,
               "Alice":23,
               "Bill":14,
               "Dave":25}

In [110]:
for key in names_and_ages:
    print("Name:",key,"Age:",names_and_ages[key])

Name: John Age: 53
Name: Alice Age: 23
Name: Bill Age: 14
Name: Dave Age: 25

In [114]:
names_and_ages.keys()

dict_keys(['John', 'Alice', 'Bill', 'Dave'])

In [112]:
for key in names_and_ages.keys():
    print(key)

John
Alice
Bill
Dave

In [115]:
names_and_ages.values()

dict_values([53, 23, 14, 25])

In [113]:
for value in names_and_ages.values():
    print(value)

53
23
14
25

In [116]:
names_and_ages.items()

dict_items([('John', 53), ('Alice', 23), ('Bill', 14), ('Dave', 25)])