In [8]:
import pandas as pd
data = pd.read_csv('music.csv')
data.head

<bound method NDFrame.head of     age  gender        genre
0    20       1     HipHop-m
1    23       1     HipHop-m
2    25       1     HipHop-m
3    26       1       Jazz-m
4    29       1       Jazz-m
5    30       1       Jazz-m
6    31       1  Classical-m
7    33       1  Classical-m
8    37       1  Classical-m
9    20       0      Dance-m
10   21       0      Dance-m
11   25       0      Dance-m
12   26       0   Acoustic-m
13   27       0   Acoustic-m
14   30       0   Acoustic-m
15   31       0  Classical-m
16   34       0  Classical-m
17   35       0  Classical-m>

In [9]:
data.pivot(index="gender",columns="age")

           genre                                                               \
age           20       21        23        25          26          27      29
gender
0        Dance-m  Dance-m       NaN   Dance-m  Acoustic-m  Acoustic-m     NaN
1       HipHop-m      NaN  HipHop-m  HipHop-m      Jazz-m         NaN  Jazz-m

                                                                        \
age             30           31           33           34           35
gender
0       Acoustic-m  Classical-m          NaN  Classical-m  Classical-m
1           Jazz-m  Classical-m  Classical-m          NaN          NaN


age              37
gender
0               NaN
1       Classical-m