In [17]:
import pandas as pd 
df=pd.read_csv('http://bit.ly/uforeports')
df.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [18]:
# how to read only few columns from csv file? you need to use usecols=[col1,col2] or by col index usecols=[0,4] as shown below
df=pd.read_csv('http://bit.ly/uforeports',usecols=['City','State'])
df.columns

Index(['City', 'State'], dtype='object')

In [19]:
df=pd.read_csv('http://bit.ly/uforeports',usecols=[0,3])
df.columns

Index(['City', 'State'], dtype='object')

In [20]:
# how to read just few rows from csv file? use nrows 
df=pd.read_csv('http://bit.ly/uforeports',nrows=3)
df

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [21]:
#How iteration for dataframe?
for c in df.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [22]:
#How iteration for series?
for index,row in df.iterrows():
    print(index,row.City,row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

In [23]:
# how to drop evey non-numeric column from a dataframe?
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
#1st we to know which columns are a numeric 
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [24]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [ ]:
df.describe()