In [16]:
import pandas as pd 
ufo=pd.read_csv('http://bit.ly/uforeports')
ufo.tail() # last five rows

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [17]:
ufo.isnull().tail()

        City  Colors Reported  Shape Reported  State   Time
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False

In [18]:
ufo.notnull().tail()

       City  Colors Reported  Shape Reported  State  Time
18236  True            False            True   True  True
18237  True            False            True   True  True
18238  True            False           False   True  True
18239  True             True            True   True  True
18240  True            False            True   True  True

In [19]:
ufo.isnull().sum() # calculate the null in each column

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [20]:
ufo.shape

(18241, 5)

In [21]:
# drop the null values
ufo.dropna(how='any').shape # how='any' this will drop any row with null value

(2486, 5)

In [22]:
ufo.dropna(how='all').shape # drop every row if the all columns are missing

(18241, 5)

In [23]:
ufo.dropna(subset=['City','Shape Reported'],how='any').shape # drop if any of 'city' or 'shpe reported' is missing

(15576, 5)

In [24]:
ufo.dropna(subset=['City','Shape Reported'],how='all').shape # drop if both 'city' and 'shpe reported' are missing

(18237, 5)

In [25]:
ufo['Shape Reported'].value_counts(dropna=False)

LIGHT        2803
NaN          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
CRESCENT        2
ROUND           2
PYRAMID         1
FLARE           1
DOME            1
HEXAGON         1
Name: Shape Reported, dtype: int64

In [26]:
ufo['Shape Reported'].fillna(value='xxx',inplace=True)

In [27]:
ufo['Shape Reported'].value_counts(dropna=False)

LIGHT        2803
xxx          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
CRESCENT        2
ROUND           2
DOME            1
PYRAMID         1
FLARE           1
HEXAGON         1
Name: Shape Reported, dtype: int64